<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XMLWithiOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C520C3871BCD76E400AE9461</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C520C3A01BCD76E400AE9461</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C520C3AB1BCD76E400AE9461</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
